Repository huyvu8051/notion-inventory-automation, changes with the labels that .github/labeler.yml gives for each.
All labels: dependencies, backend, tests, documentation

.github/labeler.yml:

# Gắn nhãn dựa trên thư mục hoặc file thay đổi
dependencies:
  - "pom.xml"                    # Khi pom.xml thay đổi
  - ".github/workflows/*"        # Khi các tệp workflow thay đổi

backend:
  - "src/main/java/**"           # Tất cả các tệp mã nguồn Java
  - "src/main/resources/**"      # Các tệp cấu hình trong resources

tests:
  - "src/test/java/**"           # Các tệp kiểm thử

documentation:
  - "docs/**"                    # Các tệp trong thư mục docs
  - "**/*.md"                    # Tệp Markdown bất kỳ

Create static.yml
  .github/workflows/static.yml
Labels: dependencies

Delete .github/workflows/static.yml
  .github/workflows/static.yml
Labels: dependencies

Update generate-javadoc.yml
  .github/workflows/generate-javadoc.yml
Labels: dependencies

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

add class diagram image into java docs
  pom.xml
Labels: dependencies

fix code to match sonarlint, add log to file rolling, log error in separate file
  .gitignore
  pom.xml
  src/main/java/io/huyvu/notion/inventory/ApplicationRunner.java
  src/main/java/io/huyvu/notion/inventory/NotionConfig.java
  src/main/java/io/huyvu/notion/inventory/NotionPageUtils.java
  src/main/java/io/huyvu/notion/inventory/exception/PagePropertyAccessException.java
  src/main/resources/logback.xml
  src/test/java/io/huyvu/notion/inventory/NotionPageUtilsTest.java
Labels: dependencies, backend, tests

change logger notion client
  pom.xml
  src/main/java/io/huyvu/notion/inventory/ApplicationRunner.java
  src/main/java/io/huyvu/notion/inventory/NotionInventoryApplication.java
  src/main/java/io/huyvu/notion/inventory/NotionSlf4jLoggerDelegate.java
Labels: dependencies, backend

remove seratch slf4j log dependency
  pom.xml
Labels: dependencies

fix remove unuse import
  src/main/java/io/huyvu/notion/inventory/NotionInventoryApplication.java
Labels: backend

fix some sonarlint issue
  src/main/java/io/huyvu/notion/inventory/NotionPageUtils.java
Labels: backend

fix log config
  src/main/java/io/huyvu/notion/inventory/ApplicationRunner.java
  src/main/java/io/huyvu/notion/inventory/NotionInventoryApplication.java
  src/main/resources/logback.xml
Labels: backend

refactor notion limiter
  src/main/java/io/huyvu/notion/inventory/ApplicationRunner.java
  src/main/java/io/huyvu/notion/inventory/NotionInventoryApplication.java
  src/main/java/io/huyvu/notion/inventory/handler/NotionEventHandler.java
  src/main/java/io/huyvu/notion/inventory/handler/NotionEventHandlerImpl.java
  src/main/java/io/huyvu/notion/inventory/listener/NotionEventListener.java
  src/main/java/io/huyvu/notion/inventory/repository/NotionRepository.java
Labels: backend

using notion api httpclient instead, add limiter in httpclient call instead of notion repository
  pom.xml
  src/main/java/io/huyvu/notion/inventory/ApplicationRunner.java
  src/main/java/io/huyvu/notion/inventory/LimitedRequestHttpClient.java
  src/main/java/io/huyvu/notion/inventory/NotionInventoryApplication.java
  src/main/java/io/huyvu/notion/inventory/repository/NotionRepository.java
Labels: dependencies, backend

add mock test find all ingredient, mock httpClient
  pom.xml
  src/main/java/io/huyvu/notion/inventory/LimitedRequestHttpClient.java
  src/main/java/io/huyvu/notion/inventory/NotionConfig.java
  src/main/java/io/huyvu/notion/inventory/NotionInventoryApplication.java
  src/main/java/io/huyvu/notion/inventory/repository/NotionRepository.java
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
  src/test/java/io/huyvu/notion/inventory/repository/ingredients.json
Labels: dependencies, backend, tests

fix st
  src/main/java/io/huyvu/notion/inventory/LimitedRequestHttpClient.java
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
Labels: backend, tests

fix mock test with success
  pom.xml
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
  src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Labels: dependencies, tests

completable future for parallel repo execution
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
Labels: tests

mock rate limiter
  src/main/java/io/huyvu/notion/inventory/LimitedRequestHttpClient.java
  src/test/java/io/huyvu/notion/inventory/TestUtils.java
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
  src/test/resources/ingredients.json
Labels: backend, tests

check httpclient execute delay
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
Labels: tests

unit test rate limit with parallel
  src/test/java/io/huyvu/notion/inventory/TestUtils.java
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
Labels: tests

fix something
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
Labels: tests

assert execute count httpClient test
  src/test/java/io/huyvu/notion/inventory/repository/NotionRepositoryTest.java
Labels: tests
